<style>

    body { font-family: Arial, sans-serif; line-height: 1.6; padding-top: 80px; }
    .container { width: 80%; margin: auto; overflow: hidden; }
    header { background: #4f3454; color: rgb(232, 190, 239); padding: 10px 0; position: fixed; width: 100%; top: 0; z-index: 1000; }
    header a { color: #f0c9f7; text-decoration: none; text-transform: uppercase; font-size: 16px; }
    nav { float: right; margin-right: 20px; }
    nav a { margin: 0 20px; }
    footer { background: #d79696; color: white; text-align: center; padding: 30px 0; }
    section { padding: 5px 0; }
    .home-section { text-align: center; }
    .home-section h2 { font-size: 2.5em; }
    .home-section p { font-size: 1.2em; }
</style>
<style>
.education, .achievements {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}
</style>
<style> 
bharatanatyam-gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 10px;
}

.bharatanatyam-gallery img {
max-width: 100%;
height: auto;
border: 2px solid #333;
border-radius: 5px;
}

.dance-image {
    width: 200px;
    height: 200px;
    border: 2px solid #333; /* Adds a border */
    border-radius: 10px; /* Rounds the corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    margin: 10px; /* Adds space around the images */
}

.hobby {
    margin-bottom: 20px;
}

.hobby h3 {
    color: #333;
    margin-bottom: 10px;
}

.hobby p {
    
    line-height: 1.6;
}

</style>
<style>
.container1 {

align-items: center; 
justify-content: center; 
gap: 20px; 
}

.text-section, .image-section {
flex: 1; 
}

.image-section img {
width: 300px; 
height: 500px;

}

.align-justify {
    text-align: justify;
    font-family: 'Times New Roman', serif; 
    font-size: 20px; 
    font-weight: bold; 
    font-style: italic; 
}
</style>